<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mayo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.MayoApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/mayo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mayo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.IntroActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cfc67a07b87045dfd902fad7b1bf796b642fce33" />

        <activity
            android:name=".activities.MapActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithNoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <service android:name=".firebase.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".backgroundservice.BackgroundLocationService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="true" />

        <activity
            android:name=".activities.ChatActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>